/*consts */

:root {
  --main-text-color: #000;
  /*challenge2*/
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #ec9a9a;
  --white-color: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
  /*challenge3*/
  --border-color-chall3: #00a4e4;
  /*challenge9*/
  --blue-color-chall9: #001f99;
  --red-color-chall9: #fe002d;
  /*challenge10*/
  --yellow-color-chall10: #ffce00;
  /*challenge11*/
  --green-color-chall11: #007e39;
  /*challenge14*/
  --blue-color-chall14: #0269a6;
  /*challenge15*/
  --orange-color-chall15: #e15307;
  --green-color-chall15: #10af2a;
}

/*resets*/
* {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 30px auto;
}
ul {
  list-style: none;
}

/*common styles */
body {
  background-color: #d6dde3;
  color: var(--main-text-color);
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.challenge24 {
  margin-bottom: 50px;
}

/*challenge1 styles */
.challenge1 p {
  line-height: 1.5em;
}
.spoiler {
  background-color: var(--main-text-color);
  transition: background-color 0.5s ease-in-out;
}
.spoiler:hover {
  cursor: pointer;
  background-color: inherit;
  transition: background-color 0.5s ease-in-out;
}

/*challenge2 styles */
.challenge2,
.challenge3 {
  gap: 20px;
}
.button-border {
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
}
.button {
  font-size: 24px;
  letter-spacing: 5px;
  padding: 20px 75px;
  background: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
}
.container:hover .button-border {
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(
    115deg,
    var(--grad-color5),
    var(--grad-color4),
    var(--grad-color3),
    var(--grad-color2),
    var(--grad-color1)
  );
}
.container:hover .button {
  color: var(--white-color);
}

/*challenge3 styles */
.search-bar {
  padding: 15px;
  border-radius: 10px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
.search-bar:focus {
  width: 300px;
  border: 5px solid var(--border-color-chall3);
  transition: all 0.5s ease-in-out;
}

/*challenge4 styles */
.card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 550px;
  padding: 0 20px 20px;
  border: 3px outset var(--main-text-color);
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: var(--white-color);
}
.card-thumbnail {
  padding: 10px 10px 20px;
  border-radius: 10px 10px 0 0;
  background-color: var(--body-bg);
}
.card-thumbnail-img {
  width: 100%;
  border-radius: 10px;
}
.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 20px;
  background-color: var(--body-bg);
  border-radius: 0 0 10px 10px;
}
.card-avatar {
  border-radius: 5px;
}
.card-avatar-img {
  width: 80px;
  height: 70px;
  border-radius: 10px;
}
.card-details {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
}
.card-stats {
  display: none;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}
.card:hover .card-stats {
  display: flex;
  padding: 10px 10px 20px;
  background-color: var(--body-bg);
  border-radius: 0 0 10px 10px;
}
.card:hover .card-body {
  border-radius: 0;
}

/*challenge5 styles */
.challenge5,
.challenge6 {
  height: 150px;
}
.containerLoading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: pulse infinite alternate 2s;
}
@keyframes pulse {
  from {
    background: var(--btn-bg);
  }

  to {
    background: var(--body-bg);
    height: 50px;
    width: 50px;
  }
}

/*challenge6 styles */
.square {
  width: 40px;
  height: 40px;
  animation: rotate infinite 1s;
}
.square1 {
  background-color: var(--grad-color2);
}
.square2 {
  background-color: var(--grad-color3);
}
.square3 {
  background-color: var(--grad-color4);
}
@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/*challenge7 styles */
.rings,
.ring {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ring {
  border-radius: 50%;
}
.ring-1 {
  width: 160px;
  height: 160px;
  z-index: 1;
  background-color: var(--btn-bg);
}
.ring-2 {
  width: 120px;
  height: 120px;
  z-index: 2;
  background-color: var(--border-color-chall3);
}
.ring-3 {
  width: 80px;
  height: 80px;
  z-index: 3;
  background-color: var(--grad-color4);
}
.bullseye {
  width: 40px;
  height: 40px;
  z-index: 4;
  background-color: var(--grad-color1);
}

/*challenge8 styles */
.words {
  font-size: 36px;
}
.words::after {
  content: "";
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--border-color-chall3);
  animation: wrdCarousel infinite 20s;
}
@keyframes wrdCarousel {
  0% {
    content: "coding";
  }
  10% {
    content: "sport";
  }
  20% {
    content: "cats";
  }
  30% {
    content: "cars";
  }
  40% {
    content: "basketball";
  }
  50% {
    content: "movies";
  }
  60% {
    content: "music";
  }
  70% {
    content: "fruits";
  }
  80% {
    content: "play PC games";
  }
  90% {
    content: "airplanes";
  }
  100% {
    content: "coding";
  }
}

/*challenge9 styles */
.flag-france {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.stripeFrance {
  width: 200px;
  height: calc(200px * 3 / 2);
}
.blue {
  background-color: var(--blue-color-chall9);
}
.white {
  background-color: var(--white-color);
}
.red {
  background-color: var(--red-color-chall9);
}

/*challenge10 styles */
.flag-germany {
  display: grid;
  height: 360px;
  width: calc(360px * 5 / 3);
}
.black {
  background-color: var(--btn-bg);
}
.red {
  background-color: var(--red-color-chall9);
}
.yellow {
  background-color: var(--yellow-color-chall10);
}

/*challenge11 styles */
.flag-madagascar {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  width: calc(400px * 3 / 2);
  background-color: var(--white-color);
}
.whiteMadagascar {
  background-color: var(--white-color);
}
.redMadagascar {
  background-color: var(--red-color-chall9);
  height: 50%;
  width: 400px;
}
.greenMadagascar {
  background-color: var(--green-color-chall11);
  height: 50%;
  width: 400px;
}

/*challenge12 styles */
.flag-swiss {
  width: 600px;
  height: 600px;
  background-color: var(--red-color-chall9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
.cross {
    height: calc(600px * 3/16);
    width: calc(600px * 5/8);
    background: var(--white-color);
}

.cross2 {
    transform: rotate(90deg);
    position: absolute;
}
*/
.cross1 {
  width: calc(600px * 5 / 8);
  height: calc(600px * 3 / 16);
  background-color: var(--white-color);
}
.cross2 {
  height: calc(600px * 5 / 8);
  width: calc(600px * 3 / 16);
  background-color: var(--white-color);
  position: absolute;
}

/*challenge13 styles */
.flag-japan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: calc(600px * 2 / 3);
  background-color: var(--white-color);
}
.circle-japan {
  width: calc(600px * 2 / 5);
  height: calc(600px * 2 / 5);
  border-radius: 50%;
  background-color: var(--red-color-chall9);
}
/*challenge14 styles */
.flag-sweden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: calc(600px * 5 / 8);
  background-color: var(--blue-color-chall14);
  position: relative;
}
.stripe-sweden {
  background-color: var(--yellow-color-chall10);
}
.stripe-yellow {
  width: 600px;
  height: calc(600px / 8);
}
.stripe-yellow2 {
  width: calc(600px / 8);
  height: calc(600px * 5 / 8);
  position: absolute;
  left: calc(600px * 5 / 16);
}

/*challenge15 styles */
.flag-niger {
  width: 600px;
  height: calc(600px * 6 / 7);
}
.stripe-niger {
  width: 600px;
  height: calc(600px * 6 / 7 / 3);
}
.orange-niger {
  background-color: var(--orange-color-chall15);
}
.white-niger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
}
.circle-niger {
  width: calc(600px * 6 / 7 / 3 * 0.85);
  height: calc(600px * 6 / 7 / 3 * 0.85);
  border-radius: 50%;
  background-color: var(--orange-color-chall15);
}
.green-niger {
  background-color: var(--green-color-chall15);
}
/*challenge16 styles */
/*challenge17 styles */
/*challenge18 styles */
/*challenge19 styles */
/*challenge20 styles */
/*challenge21 styles */
/*challenge22 styles */
/*challenge23 styles */
/*challenge24 styles */
