/*consts */

:root {
  --main-text-color: #000;
  /*challenge2*/
  --font-family: 'Karla', sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #ec9a9a;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
  /*challenge3*/
  --border-color-chall3: #00a4e4;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 30px auto;
}

ul {
  list-style: none;
}

/*common styles */

body {
  background-color: #d6dde3;
  color: var(--main-text-color);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
}

.section {
  display: flex;
  flex-direction: column;
}

.challenge1 {
}

.challenge24 {
  margin-bottom: 50px;
}

/*challenge1 styles */

.challenge1 p {
  line-height: 1.5em;
}

.spoiler {
  background-color: var(--main-text-color);
  transition: background-color 0.5s ease-in-out;
}

.spoiler:hover {
  cursor: pointer;
  background-color: inherit;
  transition: background-color 0.5s ease-in-out;
}

/*challenge2 styles */
.challenge2 {
  align-items: center;
  gap: 20px;
}

.button-border {
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
}

.button {
  font-size: 24px;
  letter-spacing: 5px;
  padding: 20px 75px;
  background: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
}

.container:hover .button-border {
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(
    115deg,
    var(--grad-color5),
    var(--grad-color4),
    var(--grad-color3),
    var(--grad-color2),
    var(--grad-color1)
  );
}

.container:hover .button {
  color: var(--btn-color-hover);
}

/*challenge3 styles */

.challenge3 {
  gap: 20px;
}

.container2 {
}
.search-bar {
  padding: 15px;
  border-radius: 10px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}

.search-bar:focus {
  width: 300px;
  border: 5px solid var(--border-color-chall3);
  transition: all 0.5s ease-in-out;
}

/*challenge4 styles */

.challenge4 {
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 550px;
  padding: 0 20px 20px;
  border: 3px outset var(--main-text-color);
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: var(--btn-color-hover);
}

.card-thumbnail {
  padding: 10px 10px 20px;
  border-radius: 10px 10px 0 0;
  background-color: var(--body-bg);
}

.card-thumbnail-img {
  width: 100%;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 20px;
  background-color: var(--body-bg);
  border-radius: 0 0 10px 10px;
}

.card-avatar {
  border-radius: 5px;
}

.card-avatar-img {
  width: 80px;
  height: 70px;
  border-radius: 10px;
}

.card-details {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
}

.card-stats {
  display: none;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}

.card:hover .card-stats {
  display: flex;
  padding: 10px 10px 20px;
  background-color: var(--body-bg);
  border-radius: 0 0 10px 10px;
}

.card:hover .card-body {
  border-radius: 0;
}

/*challenge5 styles */

.challenge5 {
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.containerLoading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: pulse infinite alternate 2s;
}

@keyframes pulse {
  from {
    background: var(--btn-bg);
  }

  to {
    background: var(--body-bg);
    height: 50px;
    width: 50px;
  }
}

/*challenge6 styles */
.challenge6 {
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.square {
  width: 40px;
  height: 40px;
  animation: rotate infinite 1s;
}
.square1 {
  background-color: var(--grad-color2);
}
.square2 {
  background-color: var(--grad-color3);
}
.square3 {
  background-color: var(--grad-color4);
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/*challenge7 styles */
.challenge6 {
  flex-direction: column;
  align-items: center;
}

.rings,
.ring {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  border-radius: 50%;
}

.ring-1 {
  width: 160px;
  height: 160px;
  z-index: 1;
  background-color: var(--btn-bg);
}
.ring-2 {
  width: 120px;
  height: 120px;
  z-index: 2;
  background-color: var(--border-color-chall3);
}
.ring-3 {
  width: 80px;
  height: 80px;
  z-index: 3;
  background-color: var(--grad-color4);
}
.bullseye {
  width: 40px;
  height: 40px;
  z-index: 4;
  background-color: var(--grad-color1);
}

/*challenge8 styles */
/*challenge9 styles */
/*challenge10 styles */
/*challenge11 styles */
/*challenge12 styles */
/*challenge13 styles */
/*challenge14 styles */
/*challenge15 styles */
